*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
ul li{
    cursor: pointer;
    padding: 10px;
}
ul li:hover{
    background-color: #fff !important;
    color: #000 !important;
}
main{
    width:800px;
    margin: 150px auto;
    position: relative;
    max-width: 95%;
}
.img_id{
    display: none;
}
.modal{
   display: none;
}
.modal input{
    width: 95%;
    max-width: 300px;
}
.modal.active{
    display: flex;
    gap: 10px;
    margin-top: 100px;
    justify-content: center;
    height: max-content;
    max-width: 100%;
}
.setting{
    display: flex;
    gap: 20px;
    width: max-content;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
}
.hidden{
    margin-top: 0px;
    width: max-content;
    right: 0;
    z-index:50;
    transform: scale(0);
    position: absolute;
    transition: transform .3s;
}
.hidden-parent{
    position: relative;
}
.filter{
    cursor: pointer;
    width: max-content;
}
.filter .hidden{
    left: 30px;
}
.hidden.active{
    transform: scale(1);
}
.image_table{
    height: 300px;
    position: relative;
    text-align: center;
}
.image_table td{
    width: 32.5%;
}
.image_table img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}